* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p,
span {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
a {
  text-decoration: none;
}

/* common classes */
.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: #4baebe;
  border-radius: 10px;
  border: 0px solid #fff;
  padding: 24px 36px;
  color: #fff;
}
.btn:hover {
  cursor: pointer;
  background: #6fbecb;
  transition: all 0.5s ease;
}
/* header */
.header-container {
  width: 100%;
  max-width: 1320px;
  min-height: 165px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  width: 100px;
  height: 100px;
  margin-right: 25px;
}
.name-school {
  display: flex;
  flex-direction: column;
}
.name-school h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.social-logo img {
  opacity: 0.5;
  width: 24px;
  height: 24px;
  margin: 15px 0 5px;
}
.social-logo img:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 1s ease;
}

/* More then chess block */
.more-then_block {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/img/bg-img.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.more-then_block h1 {
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  margin-bottom: 40px;
}
.btn-free {
  margin-right: 25px;
}
.btn-free a {
  color: #fff;
}
.btn-record {
  background: rgba(26, 106, 135, 0.52);
  border: 2px solid rgba(26, 106, 135, 1);
}
.btn-record:hover {
  cursor: pointer;
  background: rgba(26, 106, 135, 0.65);
  transition: all 0.5s ease;
}

/* servers block */
.servers-block {
  max-width: 1320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1320px;
  min-height: 960px;
  padding: 56px;
  margin: auto;
}
.servers-block h2 {
  font-size: 56px;
}
.server-items_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.server-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  width: 305px;
  margin-top: 60px;
}
.server-item_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.server-item_content img {
  max-width: 304px;
  height: 230px;
}
.server-item_content h3 {
  font-size: 26px;
  margin: 25px 0;
  text-align: center;
}
.server-item_content p {
  font-size: 16px;
  line-height: 22px;
}
.server-item_footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0 50px;
}
.server-item_footer .line {
  border-top: 2px solid #1f50a1;
}
.server-item_footer .btn {
  width: 100%;
  padding: 18px;
}

/* special block */
.special-block {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(./assets/img/bg-img.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.special-block_container {
  width: 100%;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px;
}
.special-info h2 {
  font-size: 56px;
  color: #ffffff;
}
.special-info_item {
  width: 70%;
  list-style: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  margin: 40px 0;
  text-align: justify;
}
.custom-check_icon {
  min-width: 64px;
  min-height: 64px;
  width: 64px;
  height: 64px;
  border-radius: 15px;
  background: #4baebe;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.custom-check_icon img {
  width: 24px;
  height: 24px;
}

.special-block_form {
  height: 620px;
  min-width: 350px;
  width: 20%;
  padding: 26px 20px;
  background: #fff;
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.special-block_form h2 {
  font-size: 34px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item {
  height: 35%;
}
.form-checkbox {
  height: 25%;
}
.form-item label,
.checbox-label {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #7a7a7a;
  margin-bottom: 8px;
}
.form-item .checbox-label a {
  text-decoration: underline;
  color: #1f50a1;
}
.form-item .checbox-label a:hover {
  text-decoration: none;
  color: #1f50a1;
}
.form-input {
  display: flex;
  flex-direction: column;
}
.form-input input {
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #f4f4f4;
  color: #444444;
  padding: 16px;
  font-size: 16px;
}
.form-input input:hover {
  background-color: #e0e9f9;
  opacity: 0.8;
  border: none;
}
.form-input input:focus {
  background-color: #e0e9f9;
  opacity: 0.8;
  border: none;
  outline: none;
}
.form-checkbox {
  display: flex;
}

input[type="checkbox"] {
  display: none;
  width: 28px;
  height: 18px;
  margin-right: 8.5px;
  line-height: 30px;
}

input[type="checkbox"] + label {
  color: #000;
  font-weight: normal;
  line-height: 30px;
}

input[type="checkbox"] + label:before {
  content: " ";
  color: #000;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #f4f4f4;
  border: none;
  margin-right: 10px;
  font-family: FontAwesome;
  text-align: center;
}

input[type="checkbox"]:checked + label:before {
  /* глифон - галочка */
  display: none;
}
input[type="checkbox"]:checked {
  display: block;
}

.red-star {
  color: red;
}

/* sale block */
.sale-block {
  height: 100vh;
}
.sale-block_img {
  height: 50%;
  background: url(./assets/img/bg-img2.jpg) no-repeat center center;
}
.sale-block_info {
  height: 50%;
  background: #4baebe;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0;
}
.sale-block_info h2 {
  font-size: 56px;
  color: #fff;
}
.sale-block_info p {
  font-size: 20px;
  font-weight: 500;
}
.sale-block_info .btn {
  background: #fff;
  color: #7a7a7a;
  padding: 20px 50px;
}
.sale-block_info .btn:hover {
  background: #eeeeee;
  color: #444444;
}

/* cost block */
.cost-block {
  height: 100vh;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.cost-block h2 {
  font-size: 56px;
}
.cost-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.cost-info_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
}
.cost-info_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cost-info_item span {
  font-size: 18px;
  line-height: 28px;
}
.item-header {
  font-size: 20px;
  margin: 16px 0 45px;
  line-height: 28px;
}
.big-header {
  margin-bottom: 20px;
}
.btn-pay {
  margin-top: 30px;
  min-width: 250px;
}
